// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container {
  overflow-y: scroll;
  height: 100vh;
  padding-left:0px;
  margin-left: 0px;
  width: 100vw;
}

.demo {
  margin: 5em 0;
  padding: 7.5em 0 5.5em;
  background: #26941f;
}
.demo:hover .gridster {
  margin: 0 auto;
  opacity: .8;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

/*
.content {
  color: white;
}
*/
.gridster .gs-w {
  background: #61A9CF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.gridster .player {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: #BBB;
}
.gridster .gs-w.try {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 37px -169px;
}
.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: red !important;
}
.gridster ul {
  background-color: #EFEFEF;
  list-style-type: none;
}
.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  list-style: none;
  font-weight: bold;
}

.gridster-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.controls {
  margin-bottom: 20px;
}

.grid-stack > .grid-stack-item {

    $gridstack-columns: 3;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
}

//making the font size bigger
.grid-stack-item .tilewrapper .fa {
  font-size: 3em;
  color: maroon;
  z-index: 6000 !important;
}
//tried the following, can't seem to put spaces in between
/*
.grid-stack-item {
  margin-left: 15px !important;
  margin-right:15px !important;
  margin-top: 10px;
}
*/

.grid-stack-item .fa{
  opacity: 0.1;
}

.grid-stack-item:hover .fa{
  opacity: 0.7;
}

.grid-stack-item-content{
  z-index: 5000 !important;
}

.ui-dialog.ui-corner.ui-widget{
  display:block;
}

.hide{
  display:none;
}
